/* my stylesheet */ 
h1 {
	color: red;
	font-family: Verdana;
	font-size: 16px;
}

p {
	color: purple;
	font-family: Arial;
	font-size: 12px;
}

* {
	background-color: yellow;
}

table, tr, td {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

th, tr {
	padding:15px;
}